:root {
    --dark: #010001;
    --light: #e7e8eb;
    --noti: #1d9af1;
}

.top h1 {
    padding-top: 20px;
    font-size: 25px;
    margin-left: 20px;
}

.main-container {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.for-you-following {
    text-align: center;
    display: flex;
    gap: 10em;
    margin-top: 20px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px 140px;
    width: 100%;
    border-bottom: 1px solid gray;
}

.for-you-btn {
    border-bottom: 4px solid var(--dark);
    border-radius: 5%;
    padding-bottom: 3px;
    cursor: pointer;
    font-size: 20px;
}

.following-btn {
    border-bottom: 4px solid var(--dark);
    border-radius: 5%;
    padding-bottom: 3px;
    cursor: pointer;
    font-size: 20px;
}

.for-you-following a:hover {
    border-bottom: 4px solid var(--noti);
}

.clicked {
    border-bottom: 4px solid var(--noti);
    border-radius: 5%;
    padding-bottom: 3px;
    cursor: pointer;
    font-size: 20px;
}

.post-section {
    text-align: center;
    display: flex;
    gap: 10em;
    margin-top: 20px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px 140px;
    width: 100%;
    border-bottom: 1px solid gray;
}

form textarea {
    border: 1px solid gray;
    background: none;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    width: max-content;
    height: min-content;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.post-list {
    overflow: auto;
    max-height: 650px;
    border-bottom: 1px solid gray;
}

.post-layout {
    display: flex;
    /* grid-template-columns: 52px 120px 120px;
    grid-template-areas:
        "pfp2 input input"
        "media media tweet"; */
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.pfp-post {
    /* grid-area: pfp2; */
    max-width: 40px;
    border-radius: 100%;
}

.tweet-btn-small {
    background-color: var(--noti);
    opacity: 0.5;
    border-radius: 90px;
    padding: 8px 20px;
    font-weight: bold;
    border: none;
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
}

.tweet-btn-small-on {
    background-color: var(--noti);
    opacity: 1;
    border-radius: 90px;
    padding: 8px 20px;
    font-weight: bold;
    border: none;
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
}

/* Posts */

.placeholder-post {
    display: grid;
    padding: 30px 30px;
    border: 0.5px solid gray;
    grid-template-columns: 75px 80px 35px 535px;
    grid-template-rows: 20px;
    grid-template-areas:
        "profilepic name verify username more"
        ".... text text text text";
}

.profileimage {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    grid-area: profilepic;
    object-fit: cover;
}

.post-name {
    font-weight: bold;
    grid-area: name;
}

.post-user {
    color: gray;
    grid-area: username;
}

.post-text {
    grid-area: text;
    margin-top: 10px;
    max-width: 630px;
}

.verify {
    filter: invert(100%);
    max-width: 20px;
    margin-right: 1em;
    grid-area: verify;
}

.post-more {
    filter: invert(100%);
    max-width: 20px;
    margin-right: 1em;
    grid-area: more;
    opacity: 0.6;
}
